In [1]:
import pandas as pd
import numpy as np

In [2]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

In [3]:
train_df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [4]:
train_df.drop("Loan_ID", axis=1, inplace=True)

In [5]:
test_df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [6]:
test_df.drop("Loan_ID", axis=1, inplace=True)

In [7]:
train_df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
train_data = train_df[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Loan_Status']]
train_data.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,5849,0.0,NaN,360.0,1.0,Y
1,4583,1508.0,128.0,360.0,1.0,N
2,3000,0.0,66.0,360.0,1.0,Y
3,2583,2358.0,120.0,360.0,1.0,Y
4,6000,0.0,141.0,360.0,1.0,Y

In [9]:
train_data.isnull().sum()

ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Loan_Status           0
dtype: int64

In [10]:
missing_ = ['LoanAmount', 'Loan_Amount_Term', 'Credit_History']
train_data[missing_] = train_data[missing_].fillna(train_data[missing_].mean())

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [11]:
train_data.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Loan_Status          0
dtype: int64

In [12]:
X = train_data.iloc[:, :-1].values
Y = train_data.iloc[:, -1].values

In [13]:
X

array([[5.84900000e+03, 0.00000000e+00, 1.46412162e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.58300000e+03, 1.50800000e+03, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.00000000e+03, 0.00000000e+00, 6.60000000e+01, 3.60000000e+02,
        1.00000000e+00],
       ...,
       [8.07200000e+03, 2.40000000e+02, 2.53000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [7.58300000e+03, 0.00000000e+00, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.58300000e+03, 0.00000000e+00, 1.33000000e+02, 3.60000000e+02,
        0.00000000e+00]])

In [14]:
Y

array(['Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N',
       'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N'], dtype=object)

In [15]:
#Encoding dependent variable
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(Y)

In [16]:
Y

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [17]:
#splitting dataset into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

In [18]:
X_train

array([[2.95800000e+03, 2.90000000e+03, 1.31000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.12500000e+04, 0.00000000e+00, 1.96000000e+02, 3.60000000e+02,
        8.42198582e-01],
       [3.94800000e+03, 1.73300000e+03, 1.49000000e+02, 3.60000000e+02,
        0.00000000e+00],
       ...,
       [5.16700000e+03, 3.16700000e+03, 2.00000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.03300000e+03, 0.00000000e+00, 1.60000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.18000000e+03, 2.30600000e+03, 1.82000000e+02, 3.60000000e+02,
        1.00000000e+00]])

In [19]:
X_test

array([[7.08500000e+03, 0.00000000e+00, 8.40000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [4.23000000e+03, 0.00000000e+00, 1.12000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.13300000e+03, 3.90600000e+03, 3.24000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.33300000e+03, 2.45100000e+03, 1.10000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.70800000e+03, 1.16700000e+03, 9.70000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [2.60900000e+03, 3.44900000e+03, 1.65000000e+02, 1.80000000e+02,
        0.00000000e+00],
       [6.41700000e+03, 0.00000000e+00, 1.57000000e+02, 1.80000000e+02,
        1.00000000e+00],
       [1.28760000e+04, 0.00000000e+00, 4.05000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [5.12400000e+03, 0.00000000e+00, 1.24000000e+02, 3.42000000e+02,
        0.00000000e+00],
       [2.08300000e+03, 3.15000000e+03, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.91700000e+03, 0.00000000e+00, 8.40000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [2.89500000e+03, 0.00000000e+00, 9.50000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [8.33300000e+03, 0.00000000e+00, 2.80000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [5.00000000e+03, 3.66700000e+03, 2.36000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.48800000e+04, 0.00000000e+00, 9.60000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [3.87500000e+03, 0.00000000e+00, 6.70000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [2.76900000e+03, 1.54200000e+03, 1.90000000e+02, 3.60000000e+02,
        8.42198582e-01],
       [2.34600000e+03, 1.60000000e+03, 1.32000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.50000000e+03, 0.00000000e+00, 9.30000000e+01, 3.60000000e+02,
        8.42198582e-01],
       [2.45400000e+03, 2.33300000e+03, 1.81000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [2.64500000e+03, 3.44000000e+03, 1.20000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [2.42500000e+03, 2.34000000e+03, 1.43000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.25000000e+03, 1.30000000e+03, 1.08000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [8.33300000e+03, 3.16700000e+03, 1.65000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.38300000e+03, 2.13800000e+03, 5.80000000e+01, 3.60000000e+02,
        8.42198582e-01],
       [6.06500000e+03, 2.00400000e+03, 2.50000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.66000000e+03, 5.06400000e+03, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [5.70800000e+03, 5.62500000e+03, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.43000000e+03, 1.25000000e+03, 1.28000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [5.00000000e+03, 0.00000000e+00, 1.03000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [9.08300000e+03, 0.00000000e+00, 2.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.88500000e+03, 0.00000000e+00, 4.80000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [2.60000000e+03, 2.50000000e+03, 9.00000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [7.90100000e+03, 1.83300000e+03, 1.80000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.65200000e+03, 3.58300000e+03, 1.46412162e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.14900000e+03, 3.23700000e+03, 1.78000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [2.38300000e+03, 3.33400000e+03, 1.72000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.55000000e+03, 2.04200000e+03, 1.26000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.25000000e+03, 0.00000000e+00, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.67500000e+03, 2.42000000e+02, 1.08000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.24400000e+03, 0.00000000e+00, 8.00000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [3.40000000e+03, 2.50000000e+03, 1.23000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [1.29900000e+03, 1.08600000e+03, 1.70000000e+01, 1.20000000e+02,
        1.00000000e+00],
       [4.55400000e+03, 1.22900000e+03, 1.58000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.85800000e+03, 0.00000000e+00, 7.60000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [8.33300000e+03, 3.75000000e+03, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.75000000e+03, 0.00000000e+00, 1.16000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.54700000e+03, 0.00000000e+00, 1.15000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.58300000e+03, 1.50800000e+03, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.00000000e+03, 2.50000000e+03, 1.40000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.17300000e+03, 0.00000000e+00, 7.40000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [4.75000000e+03, 2.33300000e+03, 1.30000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.60000000e+03, 1.70000000e+03, 1.07000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.86500000e+03, 1.64000000e+03, 1.46412162e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.02500000e+03, 2.77300000e+03, 1.12000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.33300000e+03, 4.58300000e+03, 2.59000000e+02, 3.60000000e+02,
        8.42198582e-01],
       [3.03300000e+03, 1.45900000e+03, 9.50000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [6.21600000e+03, 0.00000000e+00, 1.33000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.00600000e+03, 1.52600000e+03, 1.68000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.19100000e+03, 0.00000000e+00, 1.20000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.13700000e+03, 8.98000000e+03, 1.37000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [1.00000000e+04, 0.00000000e+00, 2.14000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.16700000e+03, 2.40000000e+03, 1.15000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.51000000e+03, 0.00000000e+00, 7.60000000e+01, 3.60000000e+02,
        0.00000000e+00],
       [5.93500000e+03, 0.00000000e+00, 1.33000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [5.95500000e+03, 5.62500000e+03, 3.15000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.08300000e+03, 4.08300000e+03, 1.60000000e+02, 3.60000000e+02,
        8.42198582e-01],
       [2.36600000e+03, 2.53100000e+03, 1.36000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.70700000e+03, 3.16600000e+03, 1.82000000e+02, 3.42000000e+02,
        1.00000000e+00],
       [2.69900000e+03, 2.78500000e+03, 9.60000000e+01, 3.60000000e+02,
        8.42198582e-01],
       [1.91600000e+03, 5.06300000e+03, 6.70000000e+01, 3.60000000e+02,
        8.42198582e-01],
       [2.42300000e+03, 5.05000000e+02, 1.30000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.98700000e+03, 1.41100000e+03, 1.57000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.60800000e+03, 0.00000000e+00, 1.37000000e+02, 1.80000000e+02,
        1.00000000e+00],
       [3.66700000e+03, 1.45900000e+03, 1.44000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.81400000e+03, 1.48300000e+03, 1.24000000e+02, 3.00000000e+02,
        1.00000000e+00],
       [1.83600000e+03, 3.38370000e+04, 9.00000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [1.25000000e+04, 3.00000000e+03, 3.20000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [9.70300000e+03, 0.00000000e+00, 1.12000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.16600000e+03, 0.00000000e+00, 1.16000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [6.45000000e+02, 3.68300000e+03, 1.13000000e+02, 4.80000000e+02,
        1.00000000e+00],
       [1.83330000e+04, 0.00000000e+00, 5.00000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [7.44100000e+03, 0.00000000e+00, 1.94000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [7.58300000e+03, 0.00000000e+00, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.06900000e+03, 0.00000000e+00, 7.10000000e+01, 4.80000000e+02,
        1.00000000e+00],
       [4.62500000e+03, 2.85700000e+03, 1.11000000e+02, 1.20000000e+01,
        8.42198582e-01],
       [2.78500000e+03, 2.01600000e+03, 1.10000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.07300000e+03, 8.10600000e+03, 2.00000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.66700000e+03, 0.00000000e+00, 1.13000000e+02, 1.80000000e+02,
        1.00000000e+00],
       [2.49100000e+03, 2.05400000e+03, 1.04000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.92800000e+03, 1.64400000e+03, 1.00000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.16700000e+03, 0.00000000e+00, 7.40000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [4.28300000e+03, 3.00000000e+03, 1.72000000e+02, 8.40000000e+01,
        1.00000000e+00],
       [3.16700000e+03, 4.00000000e+03, 1.80000000e+02, 3.00000000e+02,
        0.00000000e+00],
       [2.90000000e+03, 0.00000000e+00, 7.10000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [3.20000000e+03, 2.25400000e+03, 1.26000000e+02, 1.80000000e+02,
        0.00000000e+00],
       [6.95000000e+03, 0.00000000e+00, 1.75000000e+02, 1.80000000e+02,
        1.00000000e+00],
       [2.97100000e+03, 2.79100000e+03, 1.44000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.27300000e+03, 1.82000000e+03, 8.10000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [9.53800000e+03, 0.00000000e+00, 1.87000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [5.92300000e+03, 2.05400000e+03, 2.11000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.82000000e+03, 1.71900000e+03, 1.00000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [5.81900000e+03, 5.00000000e+03, 1.20000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [6.05000000e+03, 4.33300000e+03, 1.20000000e+02, 1.80000000e+02,
        1.00000000e+00],
       [5.70300000e+03, 0.00000000e+00, 1.28000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [4.95000000e+03, 0.00000000e+00, 1.25000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.58300000e+03, 2.16700000e+03, 1.04000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.41000000e+03, 0.00000000e+00, 8.80000000e+01, 3.42000000e+02,
        1.00000000e+00],
       [2.33300000e+03, 1.51600000e+03, 9.50000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [3.52200000e+03, 0.00000000e+00, 8.10000000e+01, 1.80000000e+02,
        1.00000000e+00],
       [6.40000000e+03, 0.00000000e+00, 2.00000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.41800000e+03, 0.00000000e+00, 1.35000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [3.75000000e+03, 0.00000000e+00, 1.13000000e+02, 4.80000000e+02,
        1.00000000e+00],
       [3.20000000e+03, 7.00000000e+02, 7.00000000e+01, 3.60000000e+02,
        1.00000000e+00],
       [1.66800000e+03, 3.89000000e+03, 2.01000000e+02, 3.60000000e+02,
        0.00000000e+00],
       [2.48300000e+03, 2.46600000e+03, 9.00000000e+01, 1.80000000e+02,
        0.00000000e+00],
       [2.66700000e+03, 1.62500000e+03, 8.40000000e+01, 3.60000000e+02,
        8.42198582e-01],
       [2.06000000e+03, 2.20900000e+03, 1.34000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.50000000e+03, 4.60000000e+03, 1.76000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [8.75000000e+03, 4.99600000e+03, 1.30000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [1.45830000e+04, 0.00000000e+00, 4.36000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.94700000e+03, 1.66400000e+03, 7.00000000e+01, 1.80000000e+02,
        0.00000000e+00],
       [1.62500000e+03, 1.80300000e+03, 9.60000000e+01, 3.60000000e+02,
        1.00000000e+00]])

In [20]:
Y_train

array([1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 1])

In [21]:
Y_test

array([1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1])

In [22]:
# Fitting Logistic Regression to Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0, solver='lbfgs')
classifier.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
# Predicting Test set results
Y_pred = classifier.predict(X_test)

In [24]:
Y_pred

array([1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1])